
.loading {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FAD6E0;
}

.loader {
    color: #FAD6E0;
    font-weight: 800;
}

.loaders {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #FAD6E0;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    color: #FAD6E0;
}

    .loaders::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 4px;
        top: 4px;
        border: 2px solid #FFF;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        color: #FAD6E0;
    }


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
