@inherits LayoutComponentBase
@attribute [Authorize]
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="container-fluid not-print">
    <div class="row flex-nowrap ">
        <div class="col-auto col-md-3 col-xl-2  px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white flex-grow-1" style="background: #5e0b76; min-height: 100vh; height: 100%;">


                <a href="/" class="mx-auto d-none d-sm-inline">
                    <img src="img/logo.svg" style="width: 120px; margin: 40px 0" />
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li class="nav-item">
                        <NavLink style="color: #fff" ActiveClass="nav-active" href="admin/pedidos" class=" align-middle px-0 nav-link">
                            <i class="fa-regular fa-rectangle-list"></i> <span class="ms-1 d-none d-sm-inline">Pedidos</span>
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink style="color: #fff" ActiveClass="nav-active" href="admin/produtos" class=" px-0 align-middle nav-link">
                            <i class="fa-brands fa-product-hunt"></i> <span class="ms-1 d-none d-sm-inline">Produtos</span>
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink style="color: #fff" ActiveClass="nav-active" href="admin/categorias" class=" px-0 align-middle nav-link">
                            <i class="fa-solid fa-tags"></i><span class="ms-1 d-none d-sm-inline">Categorias</span>
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink style="color: #fff"  ActiveClass="nav-active" href="#" class=" px-0 align-middle nav-link" @onclick="Logout">
                            <i class="fa-solid fa-right-from-bracket"></i> <span class="ms-1 d-none d-sm-inline">Sair</span>
                        </NavLink>
                    </li>

                </ul>
         
            </div>
        </div>
        <div class="col py-3 ">
            @Body
        </div>
    </div>
</div>