<footer class="text-center text-lg-start text-white footer" style="background-color: #5e0b76">

    <div class="container p-4 pb-0">

        <section class="">

            <div class="row">

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-2 font-weight-bold">Contato</h6>
                    <p style="font-size: 14px"><i class="fas fa-home mr-3"></i> Praça Dr. Luiz Palmier, 42 - Centro, São Gonçalo - RJ</p>
                    <p style="font-size: 14px"><i class="fa-brands fa-whatsapp"></i> 21 97150-9894</p>
                </div>
                
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-2 font-weight-bold">Siga-nos
                    </h6>

                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1"
                       style="background-color: #ac2bac"
                       href="https://www.instagram.com/gloriafestas_sg"
                       role="button">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1"
                       style="background-color: #3b5998"
                       href="https://www.facebook.com/gloriafestassg"
                       role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
              
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a style="font-size: 14px" class="text-white" href="https://github.com/mayconjardim">Desenvolvido por MJ.</a>
    </div>
</footer>