.card {
    width: 170px;
}

.pagination .page-link {
    background-color: #5E0B76 !important;
    border: 1px solid grey;
}


@media screen and (max-width: 390px) {

    .card {
        width: 160px;
    }

    .card-title {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 360px) {

    .card {
        width: 140px;
    }

    .card-title {
        font-size: 0.6rem;
    }
}
